.whole_content2 {
  margin-top: 100px;
}

.content2 {
  background: var(--radialbgrnd);
  border: 2px solid var(--bordercolor);
  box-shadow: var(--bordershadow);
  border-radius: 50px;
  padding: 100px 0;
}
.content2_write {
  text-align: center;
}
@media (min-width: 900px) {
  .content2_write {
    text-align: left;
  }
}
